.modal-content {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.modal-content .scroll-fader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  background: linear-gradient(to bottom, rgba(35,38,43,1) 0%,rgba(35,38,43,0) 100%);
  opacity: 0;
  transition: opacity 100ms;
  pointer-events: none;
}
.modal-content .scroll-fader.show {
  opacity: 1;
}
.modal-content .scroll-area {
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}
.modal-content .modal-content-container {
  padding: 0 50px 50px 50px;
  display: flex;
  flex-direction: column;
}